$themeColor: rgb(31, 72, 136);

* {
    margin: 0;
    padding: 0;
    
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

body .layout {
    font-family: "Gill Sans", sans-serif;
    display: flex;
    flex-direction: column;
    nav {
        padding: 1rem;
        flex: 2 1 10vh;
    }

    main {
        flex: 8 1 85vh;
    }

    .footer {
        flex: 1 1 5vh;
    }

}


@import "./nav";
@import "./main";
@import "./footer";