@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3,
h4 {
  margin-top: 10px;
}

h5, h6 {
  font-weight: normal;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

body .layout {
  font-family: "Gill Sans", sans-serif;
  display: flex;
  flex-direction: column;
}
body .layout nav {
  padding: 1rem;
  flex: 2 1 10vh;
}
body .layout main {
  flex: 8 1 85vh;
}
body .layout .footer {
  flex: 1 1 5vh;
}

nav {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 10px 6px -6px #777;
  background-color: rgb(255, 250, 205);
}
nav .left {
  flex: 4 1 400px;
  display: flex;
  align-items: center;
}
nav .left img {
  width: 20vw;
}
nav .left img:hover {
  margin: 0.3rem;
}
nav .left h1 {
  font-size: 2rem;
}
nav .right {
  flex: 8 1 600px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
nav .right ul {
  display: flex;
}
nav .right ul li {
  padding: 0.5rem 1rem;
}
nav .right ul li a {
  font-size: 2rem;
}
nav .right ul li a:hover {
  color: rgb(31, 72, 136);
  border-bottom: 3px solid rgb(31, 72, 136);
}

main .homepage {
  display: flex;
  flex-direction: column;
  text-align: center;
}
main .homepage .urlShortenerContainer {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}
main .homepage .urlShortenerContainer h2 {
  flex: 2 1 50px;
  padding: 1.5rem;
  font-size: 3.5rem;
  color: rgb(31, 72, 136);
}
main .homepage .urlShortenerContainer p {
  flex: 2 1 50px;
  font-size: 2rem;
}
main .homepage .urlShortenerContainer .advertisement {
  flex: 2 1 50px;
  margin: 1rem;
}
main .homepage .urlShortenerContainer .advertisement .ad img {
  width: 50%;
}
main .homepage .urlShortenerContainer .urlShortener {
  flex: 3 1 50px;
  width: 70vw;
  margin: 1.5rem 1rem 0rem 1.2rem;
  font-size: 1.5rem;
}
main .homepage .urlShortenerContainer .urlShortener input {
  padding: 0.8rem;
  height: 100%;
  width: 80%;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}
main .homepage .urlShortenerContainer .urlShortener button {
  background-color: rgb(31, 72, 136);
  color: white;
  height: 100%;
  width: 20%;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}
main .homepage .urlShortenerContainer .shortenResult {
  visibility: hidden;
  border: 2px solid rgb(31, 72, 136);
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  flex: 2 1 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  margin: 1.5rem 1rem 3rem 1.2rem;
  font-size: 1.5rem;
}
main .homepage .urlShortenerContainer .shortenResult .up {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}
main .homepage .urlShortenerContainer .shortenResult .up .left {
  margin: 0.5rem;
}
main .homepage .urlShortenerContainer .shortenResult .up .left a {
  color: blue;
}
main .homepage .urlShortenerContainer .shortenResult .up .right {
  margin: 0.8rem;
}
main .homepage .urlShortenerContainer .shortenResult .up .right button {
  width: 10vw;
  margin: 0.1rem;
}
main .homepage .urlShortenerContainer .shortenResult .up .right button:hover {
  background-color: rgb(31, 72, 136);
  color: white;
}
main .homepage .urlShortenerContainer .shortenResult .down {
  width: 100%;
  padding-left: 1rem;
}
main .homepage .urlShortenerContainer .shortenResult .down p {
  font-size: 1.5rem;
  text-align: left;
  margin: 0.5rem;
  word-wrap: break-word;
}
main .homepage .urlShortenerContainer .shortenResult .down p a {
  color: lightslategray;
}
main .homepage .urlShortenerContainer .shortenResult .down p a:hover {
  color: blue;
}
main .homepage .features {
  min-height: 400px;
  background-color: rgb(31, 72, 136);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main .homepage .features .feature {
  flex: 1 1 300px;
  min-height: 400px;
  padding: 2rem;
  margin: 3rem;
  color: white;
  width: 20vw;
  height: 20vw;
}
main .homepage .features .feature h3 {
  font-size: 2rem;
  padding: 1rem;
}
main .homepage .features .feature p {
  font-size: 1.5rem;
}
main .homepage .premium {
  min-height: 600px;
  padding: 2rem;
}
main .homepage .premium h3 {
  font-size: 2.5rem;
  border-radius: 0.3rem;
  color: rgb(31, 72, 136);
}
main .homepage .premium .plans {
  display: flex;
  flex-wrap: wrap;
}
main .homepage .premium .plans .plan {
  flex: 1 1 300px;
  min-height: 450px;
  margin: 0.5rem;
  padding: 2rem;
  border: 3px solid rgb(31, 72, 136);
  border-radius: 0.3rem;
}
main .homepage .premium .plans .plan h4 {
  font-size: 2rem;
  color: white;
  padding: 0.5rem;
  background-color: rgb(31, 72, 136);
}
main .homepage .premium .plans .plan .pTag {
  padding: 0.5rem;
}
main .homepage .premium .plans .plan .pTag p {
  font-size: 1.8rem;
  text-align: left;
}

.footer {
  background-color: rgb(255, 250, 205);
  box-shadow: 0 -5px 5px -5px #777;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}
.footer h3 {
  font-size: 1.25rem;
}

.customize {
  display: flex;
  align-items: center;
  align-items: center;
  flex-direction: column;
}
.customize .customized_area {
  width: 70vw;
  margin: 5rem 1rem 0rem 1.2rem;
  font-size: 1.5rem;
  align-items: center;
  justify-self: center;
}
.customize .customized_area h3 {
  font-size: 2rem;
  color: rgb(31, 72, 136);
}
.customize .customized_area input {
  padding: 0.8rem;
  height: 100%;
  width: 40%;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}
.customize .customized_area button {
  background-color: rgb(31, 72, 136);
  font-size: 1.8rem;
  color: white;
  height: 100%;
  width: 20%;
  padding: 0.45rem;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}
.customize .result_area {
  border: 2px solid rgb(31, 72, 136);
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  margin: 1.5rem 1rem 3rem 1.2rem;
  font-size: 2rem;
}
.customize .result_area .up {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}
.customize .result_area .up .left {
  margin: 0.5rem;
}
.customize .result_area .up .left a {
  color: blue;
}
.customize .result_area .up .right {
  margin: 0.8rem;
}
.customize .result_area .up .right button {
  width: 10vw;
  margin: 0.1rem;
}
.customize .result_area .up .right button:hover {
  background-color: rgb(31, 72, 136);
  color: white;
}
.customize .result_area .down {
  width: 100%;
  padding-left: 1rem;
}
.customize .result_area .down p {
  font-size: 1.5rem;
  text-align: left;
  margin: 0.5rem;
  word-wrap: break-word;
}
.customize .result_area .down p a {
  color: lightslategray;
}
.customize .result_area .down p a:hover {
  color: blue;
}

button,
input,
textarea {
  font-family: "Source Sans Pro", sans-serif;
}

.main-header {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
  padding: 15px;
}
.main-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-header__left a {
  color: #2a343f;
  font-weight: 700;
  font-size: 2rem;
  text-decoration: none;
  transition: all 0.3s ease;
}
.main-header__left a:hover {
  opacity: 0.7;
}
.main-header__right {
  display: flex;
}

.btn {
  display: inline-block;
  background-color: rgb(31, 72, 136);
  padding: 10px 20px;
  border: none;
  color: #fff;
  border-radius: 5px;
  font-size: 1rem;
  transition: all 0.2s ease;
  text-decoration: none;
}
.btn:disabled {
  pointer-events: none;
  opacity: 0.5;
}
.btn:hover {
  background-color: #868262;
  cursor: pointer;
}

.auth {
  display: flex;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
}
.auth__box {
  max-width: 500px;
  width: 100%;
  padding: 50px;
  background-color: #2a343f;
  color: #fff;
  border-radius: 5px;
}
.auth__header {
  margin-bottom: 20px;
  text-align: center;
}
.auth__field {
  margin-bottom: 30px;
}
.auth__field label {
  font-size: 1.5rem;
  display: block;
  margin-bottom: 10px;
}
.auth__field input {
  background-color: #1f2732;
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1.25rem;
}
.auth__field input:focus {
  outline: none;
}
.auth__footer .btn {
  width: 100%;
}
.auth__footer .auth__error {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.25rem;
}
.auth__error {
  font-size: 1rem;
  margin-top: 10px;
  color: #fc6666;
}
.auth__register {
  text-align: center;
  margin-top: 20px;
}
.auth__register p {
  margin-bottom: 0;
}
.auth__register a {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.3s ease;
}
.auth__register a:hover {
  opacity: 0.7;
}

.loading {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=style.css.map */