* {
    margin: 0;
    padding: 0;
}
.layout {
    background-color: yellow;
    border: 3px solid blue($color: #000000);
    .logo {
        // flex: 1 1 1000px;
        display: flex;
        flex-direction: column;
        * {
            align-self: center;
        }
        img {
            // width: 4vw;
            height: 25vh;
            
        }
        h3 {
            color: gray;
            font-weight: normal;
        }
    }
    
}

.homepage {
    background-color: blue;
    min-height: 70vh;
    display: flex;
    .urlShortener {
        margin: 5vw;
        padding: 5vw;
        input {
            width: 60vw;
        }
    }
}